nav {
  display: flex;
  background-color: brown;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

body {
  margin: 0px;
  background-image: url(../img/bg.jpg);
}

ul {
  list-style-type: none;
}
li {
  display: inline;
  margin-right: 20px;
}

a {
  color: blueviolet;
  text-decoration: none;
}

main {
  margin: 70px 150px 30px;
  padding: 10px;
  background-color: rgb(236, 194, 152);
}

.nav-link {
  color: aliceblue;
}

h1 {
  text-align: center;
}

article {
  margin-top: 10px;
  border-bottom: 3px solid black;
}

footer {
  color: aliceblue;
  background-color: brown;
  padding: 1px;
}

h3 {
  text-align: center;
}
